/output/pixel*
src/models/iharm3dDumps/sample_dump_SANE_a+0.94_MKS_0900.h5
# Ignore all txt by default
*.txt
!Tables/ch24_vals.txt
# BUT keep the license
!License.txt
/notebooks/*
#except for the following notebooks: Autodiff_GRMHD.ipynb Autodiff.ipynb ComputeGeodesics.ipynb GenerateImageGRMHD.ipynb Generateimages.ipynb
!notebooks/Autodiff_GRMHD.ipynb
#!notebooks/ComparisonGRMHD.ipynb
!notebooks/Autodiff.ipynb
!notebooks/ComputeGeodesics.ipynb
!notebooks/GenerateImageGRMHD.ipynb
!notebooks/Generateimages.ipynb

# Generated figures
*.png

# Jupyter noise
**/.ipynb_checkpoints/

# Windows alternate data streams
**/*:Zone.Identifier