/output/pixel*
src/models/iharm3dDumps/sample_dump_SANE_a+0.94_MKS_0900.h5
# Ignore all txt by default
#*.txt

# BUT keep the license
!License.txt

# Generated figures
*.png

# Jupyter noise
.ipynb_checkpoints/

